<%-include('../includes/userHome')%>

<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<!-- End Banner Area -->
<div class="mt-5 mb-5">
<!-- <div class="container mt-4 mb-4">
    <div style="display: flex;justify-content: center;">
        <a href="" class="btn primary-btn w-50">
            Edit Profile
        </a>
    </div>
</div> -->

<!-- <div class="container mt-4 mb-4">
    <div style="display: flex;justify-content: center;">
        <a href="" class="btn primary-btn w-50">
            Change Address
        </a>
    </div>
</div> -->

<div class="container mt-4 mb-4">
    <div style="display: flex;justify-content: center;">
        <a href="/orders" class="btn primary-btn w-50">
            Orders
        </a>
    </div>
</div>
</div>

<%-include('../includes/userFooter')%>